/* MiniGame.css */
.mini-game-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

canvas {
    background: url('./IMG/space_background.jpeg') no-repeat center center; /* Путь к вашему фону */
    background-size: cover;
    border: 1px solid #000;
}

.score, .lives {
    color: white;
    font-size: 24px;
    margin: 10px;
}

.close-button {
    background: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.close-button:hover {
    background: #cc0000;
}
